---
import ReactJS from '../icons/ReactJS.astro'
import TailwindCSS from '../icons/TailwindCSS.astro'
import JavaScript from '../icons/JavaScript.astro'
import VueJS from '../icons/VueJS.astro'
import Vuetify from '../icons/Vuetify.astro'
import GitHub from '../icons/GitHub.astro'
import SocialPills from '../components/SocialPills.astro';

const TAGS = {
    REACT: {
        name: "ReactJS",
        class: "bg-sky-600/80 text-white",
        icon: ReactJS,
    },
    TAILWIND: {
        name: "Tailwind CSS",
        class: "bg-cyan-600/60",
        icon: TailwindCSS
    },
    JAVASCRIPT: {
        name: "JavaScript",
        class: "bg-yellow-400/70",
        icon: JavaScript
    },
    VUEJS: {
        name: "Vue.js",
        class: "bg-green-900/80",
        icon: VueJS
    },
    VUETIFY: {
        name: "Vuetify",
        class: "bg-blue-900/80",
        icon: Vuetify
    }
}

const PROJECTS = [
    {
        title: 'Weather App',
        description: 'Aplicacion meteorologica creada con ReactJS, que se alimenta de una API gratuita llamada OpenWeatherMap',
        link: 'https://weather-app-0wgx.onrender.com/' ,
        github: 'https://github.com/PabloInsG/weather-app',
        image: '/projects/weatherapp_photo.webp',
        tags: [TAGS.REACT, TAGS.TAILWIND, TAGS.JAVASCRIPT]
    },
    {
        title: 'Portfolio Albañil',
        description: 'Portolio para un albañil creado con Vue.js, utilizando TailwindCSS para la estilización de la página y usando la librería Vuetify para algunos componentes.',
        link: 'https://ramon-builder.onrender.com/' ,
        github: 'https://github.com/PabloInsG/ramon-portfolio',
        image: '/projects/ramonportfolio_photo.webp',
        tags: [TAGS.VUEJS, TAGS.VUETIFY, TAGS.TAILWIND]
    },
]
---

{
    PROJECTS.map(({title, description, link, github, image, tags}) => (
        <article class="mt-7">
            <h3 class="text-2xl font-semibold text-blue-300 mb-2">{title}</h3>
            <p class="text-lg mb-4 text-pretty">{description}</p>
            <ul class="flex gap-x-4 flex-row">
                {tags.map((tag) => (
                    <li>
                        <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-2 px-3 border-white/10 hover:scale-110 transition mb-2`}>
                        <tag.icon class="size-4" />
                        {tag.name}     
                        </span>
                    </li>
                ))}
            </ul>
            <a href={link} target="_blank">
                <img class="rounded shadow-lg shadow-white/10 hover:scale-[1.02] transition" src={image} alt={`Captura de pantalla del proyecto ${title}`}>
            </a>
            <SocialPills href={github} class="mt-4 hover:scale-[1.02]">
                <GitHub class="size-4 md:size-6"></GitHub>
                Repositorio Github
            </SocialPills>
        </article>
    ))
}